.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    min-height: calc(100% - 2rem);
    overflow: none;
    color: white !important;
    animation: 1s ease-out appear;
    font-family: myriad-pro, sans-serif;
    text-decoration: none !important;    
        @keyframes appear {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

    .problem-container {
        background-color: rgb(43, 43, 43);
        border-radius: 1rem;
        width: 100%;
        max-width: 960px;
        min-width: 360px;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .icon {
            height: 80px;
            aspect-ratio: 1;
            background-color: black;
            color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 35px;
            text-decoration: none !important;
        }

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            // justify-content: space-between;
            gap: 2rem;
            color: white;
            width: 100%;
            max-width: 400px;
            
            h2 {
                margin: 0;
                padding: 0;
            }
        }

        .users-container {
            color: white;
            text-decoration: none !important;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            flex-wrap: wrap;
            
            .user {
            position: relative;
            overflow: hidden;
            border-radius: 25px;
            background-color: white;
            color: black;
            width: 250px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 4px;
            gap: 1rem;

            .image {
                height: 42px;
                aspect-ratio: 1;
                background-color: black;
                border-radius: 50%;
                overflow: hidden;
            }

            .results {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .shadow {
                position: absolute;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                right: 0;
            }
            }
        }
    }

    .problem-container:hover {
        background-color: rgb(55, 55, 55);
        cursor: pointer;
    }
 }

//  breakpoints 1200px ??? 500px
// max: 1200px
// min: 360px